{% extends "app/base.html" %}
{% block title %}Produt  List{% endblock %}
{% block content %}
    <h2>products</h2>
    <div class="container">

        
        <table class="table">
            <thead>
                <tr>
                  
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Category</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>                  
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.stock}}</td>
                  <td>{{product.category.name}}</td>
                  <td><a href="{% url 'product_update' product.id %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Edit</a></td>                                        
                  <td><a href="{% url 'product_delete' product.id %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a></td>                                                                                                  </td>
                </tr>
                {% endfor %}
              </tbody>

        </table>
    </div>
    <button type="button" class="btn btn-warning">
        <a href="{% url 'product_create' %}">Add New Product</a>
    </button>
    
{% endblock %}

